<!-- <span data-toggle="popover" data-trigger="focus" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fas fa-info-circle"></i></span> -->

<a tabindex="0" 
data-toggle="popover" 
data-trigger="focus"
data-html="true" 
title="What is CCC?" 
data-content="CCC is your Current Coordinates, running this command will allow an Admin to teleport directly to this position, vice flying across the map to find the LAT/LNG position.<br />
<br />
1.  In Ark, press the TAB button on your keyboard to open the ingame console.<br />
<br />
2.  Type CCC into the console and press enter<br />
<br />
3.  Return to this page and paste the coordinates by pressing CTRL+V into the box below!">
<i class="fas fa-info-circle"></i>
</a>


<!-- <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a> -->