<login-bar class="ng-scope">
    <div class="login-bar">
        Logged in as <%= user.username %> - <a target="_self" href="/logout">Log Out</a></div>
    </login-bar>
    <div id="content" class=ng-scope" ng-view"">
        <p class="ng-scope">
            <a class="nav-button" href="/">Home</a>
            <a class="nav-button" href="/new">Open Ticket</a>
            <a class="nav-button" href="/status">Status of a ticket</a>
            <% if (adminPermissions === true) { %>
                <a class="nav-button" href="/admin">Manage</a>
              <% } %>
            <a class="nav-button" href="https://domination-gaming.com/">Return to main website</a>
              </p>


  