  <option value="">Please choose a server...</option>
  <% for (let i = 0; i < servers.length; i++) { %>
    <option value="DomiNATION #<%=servers[i].server_id%> - <%=servers[i].server_name%>">
      DomiNATION #<%=servers[i].server_id%> - <%=servers[i].server_name%>
    </option>
  <% }; %>