  <option value="">Please choose a server...</option>
  <option value="1">DomiNATION #1 - Island</option>
  <option value="2">DomiNATION #2 - Center</option>
  <option value="3">DomiNATION #3 - Scorched Earth</option>
  <option value="4">DomiNATION #4 - Aberration</option>
  <option value="5">DomiNATION #5 - Ragnarok</option>
  <option value="6">DomiNATION #6 - Patreon Ragnarok</option>
  <option value="7">DomiNATION #7 - Extinction</option>
  <option value="8">DomiNATION #8 - Patreon Extinction</option>
  <option value="9">DomiNATION #9 - Valguero</option>
  <option value="10">DomiNATION #10 - Patreon Aberration</option>