<div class="row text-center">
  <% if (user.isAdmin) { %>
    <div class="col-sm-6">
      <a href="/cancel/<%=ticket.id%>" class="btn btn-danger btn-lg">Cancel ticket</a>
    </div>
    <div class="col-sm-6">
      <a href="/complete/<%=ticket.id%>" class="btn btn-success btn-lg">Complete ticket</a>
    </div>
  <% } else { %>
    <div class="col">
      <a href="/cancel/<%=ticket.id%>" class="btn btn-danger btn-lg">Cancel ticket</a>
    </div>
  <% } %>
</div>