<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome <%= userID %></h1>
  <% if (userID !== null) { %>
    <% const ID = userID %>
    <script>
      localStorage.setItem('k', ID);
    </script>
  <% } %>
</body>
<footer>
  <script src="/js/app.js"></script>
</footer>
</html>